mixin icon(iconName, iconClass, width, height)
  svg(class=iconClass style=`width:${width}; height:${height}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin nav(className, items, activeItem)
  nav(class=className)
    ul(class=`${className}__list`)
      each item, i in items
        li(class=`${className}__item` + (i === activeItem ? ' is-active' : ''))
          a(class=`${className}__link` href=item.href)= item.name

mixin socials(modClassName, items, width, height)
  ul.socials(class=(modClassName === '') ? '' : `socials--${modClassName}`)
    each val, item in items
      li(class=`socials__item`)
        a(class=`socials__link` href=`${val}` target="_blank")
          +icon(item, `socials__icon socials__icon--${item}`, width, height)

mixin user(modClassName)
  .user(class=(modClassName === '') ? '' : `user--${modClassName}`)
    .user__photo
      +image('user-photo.jpg', 'Dmitry Kharlamov', 'user__photo-img')
    h2.user__name Харламов Дмитрий
    span.user__desc Личный сайт веб разработчика

mixin title(titleName, titleImg, titleText, titlesubText)
  div(class=`title title--${titleName}`)
    +icon(titleImg, 'title__icon')
    h1.title__text #{titleText}
    .title__subtext #{titlesubText}  
        
mixin subtitle(titleName, titleText, titlesubText)
  div(class=`subtitle subtitle--${titleName}`)
    h2.subtitle__text #{titleText}      
    .subtitle__subtext #{titlesubText} 

mixin triangles(modClassName)
  .triangles(class=(modClassName === '') ? '' : `triangles--${modClassName}`)
    svg(viewBox='0 0 1000 110' preserveAspectRatio='none').triangles__svg
      polygon(points='0,0 0,110 500,110').triangles__svg-left
      polygon(points='500,110 1000,0 1000,110').triangles__svg-right

mixin nav-blog(activeItem, items) 
  .nav-blog       
    ul.nav-blog__list
      each item, i in items
        li(class=`nav-blog__item`)
          a(href=`${item[1]}` class=`nav-blog__link` + ((i === activeItem) ? ` is-active` : ''))= item[0]
      a.nav-blog__trigger(href='#')